{% capture post_or_page_title %}
  {% if index %}
    {% if site.titlecase %}
      {{ post.title | titlecase }}
    {% else %}
      {{ post.title }}
    {% endif %}
  {% else %}
    {% if site.titlecase %}
      {{ page.title | titlecase }}
    {% else %}
      {{ page.title }}
    {% endif %}
  {% endif %}
{% endcapture %}

{% capture post_or_page_url %}
  {{ site.url }}
  {% if index %}
    {{ post.url }}
  {% else %}
    {{ page.url }}
  {% endif %}
{% endcapture %}

<header>
  {% if index %}
    <h1 class="entry-title"><a href="{{ post.url }}">{{ post_or_page_title }}</a></h1>
  {% else %}
    <h1 class="entry-title">{{ post_or_page_title }}</h1>
  {% endif %}

  {% unless page.meta == false %}
    <p class="meta">
      {% include post/date.html %}{{ time }}
      {% include post/tags.html %}
      <span class="share-to-weibo">
        <a href="javascript:void(0)" onclick="window.open('https://twitter.com/intent/tweet?text={{ post_or_page_title }} - {{ post_or_page_url }}', null, 'width=600,height=300,toolbar=0,status=0')" class="twitter" title="Twitter"></a>
      </span>
    </p>
  {% endunless %}
</header>

{% if index %}
  <div class="entry-content typo">{{ post.excerpt }}</div>
{% else %}
  <div class="entry-content typo">{{ content }}</div>
{% endif %}
